
html {
  font-family: "Lucida Sans", sans-serif;
}

* {
  box-sizing: border-box;
}


body {
    
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    
}


.div1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 0px;
    width: 600px;
    height: 200px;
    border: 1px #4D4D4D;
    box-shadow: 0px 2px 10px 2px #E6E6E6;
      
}

.div2 {
margin: 15px;
display: flex;
justify-content: center;
text-align: center;
background-color: #000000;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
padding: 0px;
width: 600px;
height: 200px;
border: 5px #999999;
box-shadow: 0px 2px 10px 2px #E6E6E6;

      }

.div3 {
    
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-image: #FFFFFF;
    border-radius: 15px;
    width: 600px;
    height: 200px;
    border: 1px #999999;
    box-shadow: 0px 2px 10px 2px #E6E6E6;
    
        }

h2 {
    color: #4D4D4D;
    text-align: center;
    
    }
    
p {
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}