* {
    padding: 0;
    margin: 0;]
    box-sizing: border-box;
    font-family: sans-serif;
    }

body {
    background: #F7F2F2;
    display: flex;
    justify-content: center;
    padding: 0 10px;
        }

.container {
    display: flex;
    max-width: 600px;
    width: 100%;
    padding: 5px;
    }


h1 {
    background: #0047AB;
    color: white;
    font-size: 20px;
    padding: 10px;
    
}


h2 {margin: 0;
    top: auto;
    background: #E3FAFA;
    padding: 5px;
    color: #333333;
    font-size: 15px;
    }

.vv {
    width: 100%;
    height: auto;
    }



.email {
    height: 40px;
    background: #0047AB;
    color: white;
    justify-content: center;
    font-size: 15px;
    padding: 5px;
}



h3 {
    height: 100px;
    background: #jjjjjj;
    padding: 15px;
    }

.botao {
    background: red;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
    font-size: 16px;
    height: 30px;
    text-align: center;
    padding: 10px 50px;
    display: flex;
    border-radius: 600px;
    transition-duration: 0.2s;
    vertical-align: middle;
        }

.botao:hover {
    background-color: blue;
}

.content {
    background: white;
    border: .5px solid #CCCCCC;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 4px 4px 10px #999999;
    }

.pro-image {
    width: 100px;
    height: 100px;
    
}

